ion-header {
  display: flex;
  background-color: var(--ion-color-primary);
  height: 72px;
  box-shadow: none;
  margin-bottom: -1px;
  ion-title {
    color: #fff;
    text-transform: capitalize;
    font-size: var(--ion-size22);
    // a {
    //   color: #fff;
    //   text-transform: capitalize;
    //   font-size: var(--ion-size22);
    //   cursor: pointer;
    // }
  }
}
