@font-face {
  font-family: "nunito-bold";
  src: url("../assets/fonts/Nunito-Bold.ttf");
}

@font-face {
  font-family: "nunito-light";
  src: url("../assets/fonts/Nunito-Light.ttf");
}
@font-face {
  font-family: "nunito-medium";
  src: url("../assets/fonts/Nunito-Medium.ttf");
}
@font-face {
  font-family: "nunito-regular";
  src: url("../assets/fonts/Nunito-Regular.ttf");
}
