ion-footer {
  padding: 48px 0;
  ion-title {
    font-size: var(--ion-size22);
    font-weight: 700;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
  }
  ion-list {
    ion-item {
      a {
        color: #000;
        text-decoration: none;
        text-transform: capitalize;
        font-size: var(--ion-size16);
        font-weight: 600;
      }
    }
  }
  form {
    position: relative;
    ion-label {
      font-size: var(--ion-size16);
      font-weight: 600;
    }
    ion-input {
      border: solid 1px #000;
      text-indent: 10px;
      margin-top: 12px;
    }
    .btn-subscribe {
      --background: transparent;
      --color: #000;
      height: 60px;
      border: 1px solid #000;
      margin: 1rem 0;
      font-size: var(--ion-size16);
      font-weight: 400;
    }
    ion-text {
      color: #000;
      font-size: var(--ion-size14);
      font-weight: 400;
      a {
        color: #000;
        text-decoration: underline;
      }
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -15px;
      margin: auto;
      width: calc(100% - 30px);
      height: 1px;
      background-color: #000;
    }
  }
  .footer-pages {
    margin-top: 2rem;
    position: relative;
    ion-list {
      ion-item {
        a {
          color: #000;
          text-decoration: underline;
        }
      }
    }
    .copy-right {
      margin-top: 1.5rem;
      font-size: var(--ion-size16);
      font-weight: 400;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -15px;
      margin: auto;
      width: calc(100% - 30px);
      height: 1px;
      background-color: #000;
    }
  }
}
@media (min-width: 500px) {
  ion-footer {
    .title,
    .links,
    form {
      display: none !important;
    }
    .footer-pages {
      display: flex !important;
      width: 100%;
      justify-content: space-between;
    }
    .pagesLink {
      display: flex;
    }
  }
}

@media (max-width: 501px) {
  ion-footer {
    .footer-pages {
      &::after {
        display: none !important;
      }
    }
  }
}
