<ion-footer>
  <ion-title> Logo </ion-title>

  <ion-list lines="none">
    <ion-item *ngFor="let link of links">
      <a href="{{ link?.path }}">{{ link?.name }}</a>
    </ion-item>
  </ion-list>

  <form
    [formGroup]="subscribeForm"
    (ngSubmit)="submitForm()"
    class="ion-padding"
    novalidate
  >
    <ion-label>Subscribe</ion-label>
    <ion-input
      placeholder="Enter your email"
      type="email"
      formControlName="email"
      aria-label="Email"
    ></ion-input>

    <div
      *ngIf="
        (subscribeForm.get('email')?.invalid &&
          subscribeForm.get('email')?.touched) ||
        (subscribeForm.get('email')?.untouched && isSubmitted)
      "
    >
      <div
        class="error ion-padding"
        *ngIf="subscribeForm.controls['email']?.errors?.['required']"
      >
        <ion-text color="danger">Email is required.</ion-text>
      </div>
      <div
        class="ion-padding"
        *ngIf="subscribeForm.controls['email']?.errors?.['email']"
      >
        <ion-text color="danger">Please provide valid email.</ion-text>
      </div>
    </div>
    <ion-button
      expand="full"
      class="btn-subscribe"
      type="submit"
      [disabled]="!subscribeForm.valid"
    >
      Subscribe
    </ion-button>
    <ion-text
      >By subscribing you agree to with our <a>Privacy Policy</a></ion-text
    >
  </form>
  <section class="footer-pages">
    <ion-list lines="none">
      <ion-item *ngFor="let item of pagesLink">
        <a (click)="goToPage(item?.bath)">{{ item?.name }}</a>
      </ion-item>
    </ion-list>
    <div class="copy-right">
      <ion-text class="ion-padding"
        >© {{ year }} Relume. All rights reserved.</ion-text
      >
    </div>
  </section>
</ion-footer>
